.container {padding: 20px 0 0 0}
.hero-unit{background: #FFF;padding: 0}
.page-header{clear: both; }
.carousel-inner img{height: 300px; width: 100%}
#printBtn,#downBtn{width: 100%;margin: 10px 0 0 0 }
footer{text-align: center}

span.strike {
  text-decoration: line-through;
}

pre code {
  color: inherit;
  border: none;
}

ul.blog-titles {
  list-style: none;
  margin-left: 1em;
}

ul.blog-titles .article-date {
  color: #CCC;
}

ul.blog-titles .article-link {
  padding-left: 1em;
}

.icon-octocat {
  width: 16px;
  height: 16px;
  background-image: url(../img/octocat.png);
  background-position: 0 0;
}

p {
  font-size: 14px;
  line-height: 18px;
}
