- content_for :head do
  %title Lee Hambley

.page-header.noPrint
  %h2 Hire Me

:markdown

  ![And respect, and hugs, and unicorns](/images/will_program_for_food.png)

  I'm available for all types of freelance and contracting work, interested
  in short or long term projects; or even being the guy you keep on retainer
  for when things go bad.

  I prefer to work with others, I have good self-discipline and work well remotely,
  good communication is essential, I like [Yammer], [Campfire], [Pivotal Tracker] and
  [Harvest].

  I work in the beautiful [Hamburg, Germany] often from home, and occasionally
  from the offices of my clients, or [betahaus].

  If you would like to work with me, I'd love to meet you for a coffee, meet you to
  go running, or even just chat on the phone.

  I noramlly work European office hours, that's about 7 productive hours a day, five
  days per week.

  I only bill for any time that would otherwise be spent on other clients, this way
  you don't have to be afraid to call me if you need something.

  I work best when phone calls and meetings, and are kept to a minimum.

  *My rates reflect my experience, but they can me made to match your budget.*

  **If you would like to work with me, [shoot me an email] and we can talk!**

  [Yammer]:             https://www.yammer.com/
  [Campfire]:           http://campfirenow.com/
  [Pivotal Tracker]:    https://www.pivotaltracker.com/
  [Harvest]:            http://www.getharvest.com/

  [Hamburg, Germany]:   http://english.hamburg.de/
  [betahaus]:           http://hamburg.betahaus.de/
  [shoot me an email]:  mailto:lee.hambley@gmail.com
